<!-- INCLUDE overall_header.html -->

<h2 class="topic-title"><a href="{U_EVENT_SELF}">{EVENT_TITLE}</a></h2>

<div class="action-bar top">
	<div class="buttons">
		<a href="" class="button icon-button reply-icon" title="{L_COMMENT">{L_COMMENT}</a>
	</div>
	
	<div class="pagination">
		<!-- 1 post &bull; Page <strong>1</strong> of <strong>1</strong> -->
	</div>
	
</div>

<div id="p1" class="post bg2">
	<div class="inner">
		<div class="postbody" style="width: 100%;">
        <h3 class="first">
        	<a href="#p1">{EVENT_TITLE}</a></h3>     
			<ul class="post-buttons">
            	<!-- IF U_EDIT_LINK -->
				<li>
					<a href="{U_EDIT_LINK}" title="{L_EDIT}" class="button icon-button edit-icon"><span>{L_EDIT}</span></a>
				</li>
                <!-- ENDIF -->
                <!-- IF U_DELETE_LINK -->
				<li>
					<a href="{U_DELETE_LINK}" title="{L_DELETE}" class="button icon-button delete-icon"><span>{L_DELETE}</span></a>
				</li>
                <!-- ENDIF -->
                <!-- IF U_REPORT_LINK -->
				<li>
					<a href={U_REPORT_LINK}"" title="{L_REPORT}" class="button icon-button report-icon"><span>{L_REPORT}</span></a>
				</li>
                <!-- ENDIF -->
			</ul>
			<div class="content">
            	<p class="author">{EVENT_POSTER}</p>
				{EVENT_CONTENT}
			</div>
		</div>
	</div>
</div>

<div class="action-bar bottom">
    <div class="buttons">
		<a href="{U_COMMENT}" class="button icon-button reply-icon" title="{L_COMMENT}">{L_COMMENT}</a>
	</div>
    <!-- IF S_MODERATOR -->
	<div class="dropdown-container dropdown-container-left dropdown-up dropdown-right dropdown-button-control" id="quickmod">
		<span title="Quick-mod tools" class="dropdown-trigger button icon-button modtools-icon dropdown-select">{L_QUICKMOD_TOOLS}</span>
		<div class="dropdown hidden">
			<div class="pointer">
               	<div class="pointer-inner"></div>
        	</div>
			<ul class="dropdown-contents">
				<li><a href="" data-ajax="true" data-refresh="true">{L_EVENT_LOCK}</a></li>			
        	    <li><a href="{U_DELETE_LINK}" data-ajax="true" data-refresh="true">{L_EVENT_DELETE}</a></li>							
			</ul>
		</div>
	</div>
    <!-- ENDIF -->
    <div class="clear"></div>    
</div>

<p class="jumpbox-return"><a href="{U_CALENDAR_PAGE}" class="left-box arrow-left" accesskey="r">{L_RETURN_CALENDAR}</a></p>

<!-- INCLUDE overall_footer.html -->