<!-- INCLUDE overall_header.html -->

<div id="calendar">
	<h2 class="calendar-title">{CALENDAR_TITLE}</h2>
    <div class="month-jump">
        <p class="jumpbox-return jump1"><a href="{U_MONTH_PREVIOUS}" class="left-box arrow-left" accesskey="r">{MONTH_PREVIOUS}</a></p>
        <p class="jumpbox-return jump2"><a href="{U_MONTH_NEXT}" class="left-box arrow-right" accesskey="r">{MONTH_NEXT}</a></p>
    </div>
    <div class="calendar-nav-links">
    	<!-- IF S_CAN_MAKE_EVENT -->
    	<div class="buttons">
            <a href="{U_CREATE_LINK}" class="button icon-button reply-icon" title="{L_NEW_EVENT}">{L_NEW_EVENT}</a>
        </div>
        <!-- ENDIF -->
        <!-- IF U_MODERATE_CALENDAR -->
        <div style="float: right;">
        	[ <a href="{U_MODERATE_CALENDAR}">{L_MODERATE_CALENDAR}</a> ]
        </div>
        <!-- ENDIF -->
    </div>
	{CALENDAR_OUTPUT}
</div>

<!-- INCLUDE overall_footer.html -->